<!-- templates/components/flash.html -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1050;">
            {% for category, message in messages %}
                {% if category == "info" %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <div>{{ message }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif category == "success" %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <div>{{ message }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif category == "warning" %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <div>{{ message }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif category == "error" %}         
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div>{{ message }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <script>
            setTimeout(() => {
                const alerts = document.querySelectorAll('.alert');
                alerts.forEach(alert => {
                    alert.classList.remove('show');
                    alert.classList.add('hide');
                });
            }, 1500);
        </script>
    {% endif %}
{% endwith %}